p {
	color:orange;
	text-align:center;
	background-color:#9e9e9e;
	color:white;
}
h1 {
	text-transform:uppercase;
	color:yellow !important;
	text-shadow:2px 3px 4px black;
	text-align:center;
	
}